<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('../common/head', {
  
}); %>

<body >

  <div class="page-wraper">


    <%- include('../common/header', {
  
    }); %>

    <!-- CONTENT START -->
    <div class="page-content ">
      <!-- INNER PAGE BANNER -->
      <div class="wt-bnr-inr overlay-wraper bg-parallax bg-top-center"  data-stellar-background-ratio="0.5"  style="background-image:url(/images/banner/3.jpg);">
        <div class="overlay-main bg-black opacity-07"></div>
          <div class="container">
              <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                      <h2 class="text-white text-uppercase letter-spacing-5 font-18 font-weight-300">Fusing logic with imagination and truth with discovery.</h2>
                      </div>
                  </div>
                  <!-- BREADCRUMB ROW -->                            
                  <div class="p-tb20">
                      <div>
                          <ul class="wt-breadcrumb breadcrumb-style-2">
                              <li><a href="javascript:void(0);">Home</a></li>
                              <li>About 1</li>
                          </ul>
                      </div>
                  </div>
                  <!-- BREADCRUMB ROW END -->                        
              </div>
          </div>
      </div>
      <!-- INNER PAGE BANNER END -->
      
      <!-- ABOUT COMPANY SECTION START -->
      <div class="section-full p-tb90 bg-gray square_shape2">
        <div class="container">
            <div class="section-content ">
              <div class="row">
                  <div class="col-md-5 col-sm-6">
                      <div class="m-about m-l50 m-r50">
                        <div class="owl-carousel about-us-carousel owl-btn-bottom-right">
                                <!-- COLUMNS 1 -->
                                <div class="item">
                                    <div class="ow-img wt-img-effect zoom-slow">
                                        <a href="javascript:void(0);"><img src="/images/gallery/portrait/pic2.jpg" alt=""></a>
                                    </div>
                                </div>
                                <!-- COLUMNS 2 -->
                                <div class="item">
                                    <div class="ow-img wt-img-effect zoom-slow">
                                        <a href="javascript:void(0);"><img src="/images/gallery/portrait/pic3.jpg" alt=""></a>
                                    </div>
                                </div>
                                <!-- COLUMNS 3 -->
                                <div class="item">
                                    <div class="owl-img wt-img-effect zoom-slow">
                                        <a href="javascript:void(0);"><img src="/images/gallery/portrait/pic4.jpg" alt=""></a>
                                    </div>
                                </div>
                                <!-- COLUMNS 4 -->
                                <div class="item">
                                    <div class="ow-img wt-img-effect zoom-slow">
                                        <a href="javascript:void(0);"><img src="images/gallery/portrait/pic5.jpg" alt=""></a>
                                    </div>
                                </div>
                                <!-- COLUMNS 5 -->
                                <div class="item">
                                    <div class="ow-img wt-img-effect zoom-slow">
                                        <a href="javascript:void(0);"><img src="/images/gallery/portrait/pic6.jpg" alt=""></a>
                                    </div>
                                </div>
                           </div>
                       </div>
                    </div>
                <div class="col-md-6 col-sm-6">
                      <div class="m-about-containt text-uppercase text-black p-t30">
                            <span class="font-30 font-weight-300">About Us</span>
                            <h2 class="font-40">Our mission is the best interior design & development.</h2>
                            <p><b>Dummy text is also used to demonstrate the appearance of different typefaces and layouts, and in general</b></p>
                            <p class="text-lowercase">typefaces and layouts, and in appearance of different general the content of dummy text is nonsensical.typefaces and layouts, different general the content of dummy text is nonsensical. typefaces and layouts, and in appearance of different general the content of dummy text is nonsensical.typefaces and layouts, different general the content
                            </p>
                            <a href="Javascript:;" class="m-b15 site-button black radius-no text-uppercase" ><span class="font-12 letter-spacing-5"> Read More </span></a>
                        </div>
                    </div>                            
                </div>
            </div>
        </div>
    </div>   
    <!-- ABOUT COMPANY SECTION END -->
     
    <!-- OUR EXPERTS SECTION START -->
    <div class="section-full bg-white  square_shape2">
        <div class="container-fluid">
            <div class="section-content">
              <div class="row">
                    <div class="col-md-6 col-sm-12 bg-repeat" style="background-image:url(images/background/ptn-1.png);">
                        <div class="wt-left-part m-experts p-tb90">
                            <!-- TITLE START -->
                            <div class="section-head text-left text-black">
                                <h2 class="text-uppercase font-36">Our experts</h2>
                                <div class="wt-separator-outer">
                                    <div class="wt-separator bg-black"></div>
                                </div>
                            </div>
                            <!-- TITLE END -->
                            <div class="wt-team-six large-pic">
                                <div class="wt-team-media wt-thum-bx">
                                    <img src="images/our-team5/pic1.jpg" alt="">
                                </div>
                                <div class="wt-team-info text-center p-lr10 p-tb20 bg-white">
                                    <h2 class="wt-team-title text-uppercase"><a href="javascript:void(0);" class="text-black font-32 font-weight-500">Robert willson</a></h2>
                                    <p class="font-22">Co-manager associated</p>
                                    <ul class="social-icons social-md social-square social-dark">
                                        <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                                    </ul>
                                </div>
                            </div>
                                      
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="wt-right-part team-outer">
                        <div class="row">
                                <!-- COLUMNS 1 -->
                                <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc m-tb15">
                                    <div class="wt-team-six bg-white">
                                        <div class="wt-team-media wt-thum-bx wt-img-overlay1">
                                            <img src="images/our-team5/pic2.jpg" alt="">
                                            <div class="overlay-bx">
                                              <div class="overlay-icon">
                                                <ul class="social-icons social-square social-dark">
                                                        <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                        <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                                        <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wt-team-info text-center bg-white p-lr10 p-tb20">
                                            <h5 class="wt-team-title text-uppercase m-a0"><a href="javascript:void(0);">David Gray</a></h5>
                                            <p class="m-b0">Co-manager associated</p>
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 2 -->
                                <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc m-tb15">
                                    <div class="wt-team-six bg-white">
                                        <div class="wt-team-media wt-thum-bx wt-img-overlay1">
                                            <img src="images/our-team5/pic3.jpg" alt="">
                                            <div class="overlay-bx">
                                              <div class="overlay-icon">
                                                <ul class="social-icons social-square social-dark">
                                                        <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                        <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                                        <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wt-team-info text-center bg-white p-lr10 p-tb20">
                                            <h5 class="wt-team-title text-uppercase m-a0"><a href="javascript:void(0);">Taylor Roberts</a></h5>
                                            <p class="m-b0">Co-manager associated</p>
                                            <!---->
                                        </div>
                                    </div>
                                </div> 
                                <!-- COLUMNS 3 -->
                                <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc m-tb15">
                                    <div class="wt-team-six bg-white">
                                        <div class="wt-team-media wt-thum-bx wt-img-overlay1">
                                            <img src="images/our-team5/pic4.jpg" alt="">
                                            <div class="overlay-bx">
                                              <div class="overlay-icon">
                                                <ul class="social-icons social-square social-dark">
                                                        <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                        <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                                        <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wt-team-info text-center bg-white p-lr10 p-tb20">
                                            <h5 class="wt-team-title text-uppercase m-a0"><a href="javascript:void(0);">Robert willson</a></h5>
                                            <p class="m-b0">Co-manager associated</p>
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                                <!-- COLUMNS 4 -->
                                <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc m-tb15">
                                    <div class="wt-team-six bg-white">
                                        <div class="wt-team-media wt-thum-bx wt-img-overlay1">
                                            <img src="images/our-team5/pic5.jpg" alt="">
                                            <div class="overlay-bx">
                                              <div class="overlay-icon">
                                                <ul class="social-icons social-square social-dark">
                                                        <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                        <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
                                                        <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wt-team-info text-center bg-white p-lr10 p-tb20">
                                            <h5 class="wt-team-title text-uppercase m-a0"><a href="javascript:void(0);">Austin Evon</a></h5>
                                            <p class="m-b0">Co-manager associated</p>
                                            <!---->
                                        </div>
                                    </div>
                                </div>                                                                                                                                                      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>   
    <!-- OUR EXPERTS SECTION END -->
    
    <!-- OUR SERVICES SECTION START -->
    <div class="section-full bg-black p-tb90 square_shape1">
        <div class="container">
            <!-- TITLE START -->
            <div class="section-head text-left text-white">
                <h2 class="text-uppercase font-36">Our Services</h2>
                <div class="wt-separator-outer">
                    <div class="wt-separator bg-white"></div>
                </div>
            </div>
            <!-- TITLE END -->                	
            <div class="section-content circle-block-outer" data-toggle="tab-hover">
                <div class="row">
                
                    <div class="col-md-4 col-sm-12 m-b30">
                        <div class="wt-icon-box-wraper right p-a20 m-b50 text-white" data-target="#tab1" data-toggle="tab">
                            <div class="icon-content">
                                <h4 class="wt-tilte text-uppercase">Master Plans</h4>
                                <p>Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac eleifend. </p>
                            </div>
                        </div> 
                        <div class="wt-icon-box-wraper right p-a20 m-b50 text-white" data-target="#tab2" data-toggle="tab">
                            
                            <div class="icon-content">
                                <h4 class="wt-tilte text-uppercase">Architecture</h4>
                                <p>Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac eleifend. </p>
                            </div>
                        </div>
                        <div class="wt-icon-box-wraper right p-a20 m-b50 text-white" data-target="#tab3" data-toggle="tab">
                            
                            <div class="icon-content">
                                <h4 class="wt-tilte text-uppercase">Landscaping</h4>
                                <p>Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac eleifend. </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-12 m-b30">
                        <div class="circle-content-pic tab-content ">
                          <div id="tab1" class="tab-pane active">
                              <div class="wt-box">
                                    <div class="wt-media text-primary m-b20 ">
                                        <img src="images/gallery/portrait/pic1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                             
                            <div id="tab2" class="tab-pane">
                              <div class="wt-box">
                                    <div class="wt-media text-primary m-b20">
                                        <img src="images/gallery/portrait/pic2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                             
                            <div id="tab3" class="tab-pane">
                              <div class="wt-box">
                                    <div class="wt-media text-primary m-b20">
                                        <img src="images/gallery/portrait/pic3.jpg" alt="">
                                    </div>
                                </div>
                            </div> 
                            
                            <div id="tab4" class="tab-pane">
                              <div class="wt-box">
                                    <div class="wt-media text-primary m-b20">
                                        <img src="images/gallery/portrait/pic4.jpg" alt="">
                                    </div>
                                </div>
                            </div> 
                            
                            <div id="tab5" class="tab-pane">
                              <div class="wt-box">
                                    <div class="wt-media text-primary m-b20">
                                        <img src="images/gallery/portrait/pic5.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                             
                            <div id="tab6" class="tab-pane">
                              <div class="wt-box">
                                    <div class="wt-media text-primary m-b20">
                                        <img src="images/gallery/portrait/pic6.jpg" alt="">
                                    </div>
                                </div>
                            </div> 
                            
                         </div>  
                    </div>
                    
                    <div class="col-md-4 col-sm-12 m-b30">
                        <div class="wt-icon-box-wraper left p-a20 m-b50 text-white" data-target="#tab4" data-toggle="tab">
                            <div class="icon-content">
                                <h4 class="wt-tilte text-uppercase">Interior</h4>
                                <p>Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac eleifend. </p>
                            </div>
                        </div> 
                        <div class="wt-icon-box-wraper left p-a20 m-b50 text-white" data-target="#tab5" data-toggle="tab">
                            <div class="icon-content">
                                <h4 class="wt-tilte text-uppercase">Construction</h4>
                                <p>Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac eleifend. </p>
                            </div>
                        </div>
                        <div class="wt-icon-box-wraper left p-a20 m-b50 text-white" data-target="#tab6" data-toggle="tab">
                            <div class="icon-content">
                                <h4 class="wt-tilte text-uppercase">Urban Designs</h4>
                                <p>Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac eleifend. </p>
                            </div>
                        </div>                                
                    </div>
                    
                </div>
            </div>                    
        </div>
        
        
    </div>   
    <!-- OUR SERVICES SECTION END -->  
               
    <!-- OUR STORY SECTION START -->
    <div class="section-full bg-gray p-tb90 square_shape1">
        <div class="container">
            <!-- TITLE START -->
            <div class="section-head text-left text-black">
                <h2 class="text-uppercase font-36">Our Story</h2>
                <div class="wt-separator-outer">
                    <div class="wt-separator bg-black"></div>
                </div>
            </div>
            <!-- TITLE END -->                	
            <div class="section-content our-story">
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                      <div class="wt-media our-story-pic">
                            <img src="images/gallery/pic1.jpg" alt="">
                        </div>
                    </div>
                  <div class="col-md-6 col-sm-12">
                      <div class="wt-box our-story-detail">
                            <h3 class="text-uppercase">2011-12</h3>
                            <h2 class="text-uppercase">Park Boathouse</h2>
                            <p>Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac eleifend ante lobortis id. In viverra ipsum stie id viverra. </p>
                        </div>
                    </div>
                </div>  
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                      <div class="wt-box our-story-detail">
                            <h3 class="text-uppercase">2013-14</h3>
                            <h2 class="text-uppercase">Museum Expansion</h2>
                            <p>Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac eleifend ante lobortis id. In viverra ipsum stie id viverra. </p>
                        </div>
                    </div>
                  <div class="col-md-6 col-sm-12">
                      <div class="wt-media our-story-pic">
                            <img src="images/gallery/pic3.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                      <div class="wt-media our-story-pic">
                            <img src="images/gallery/pic4.jpg" alt="">
                        </div>
                    </div>
                  <div class="col-md-6 col-sm-12">
                      <div class="wt-box our-story-detail">
                            <h3 class="text-uppercase">2015-16</h3>
                            <h2 class="text-uppercase">Eisenhower Memoria</h2>
                            <p>Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac eleifend ante lobortis id. In viverra ipsum stie id viverra. </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                      <div class="wt-box our-story-detail">
                            <h3 class="text-uppercase">2017-18</h3>
                            <h2 class="text-uppercase">Columbia Sport Center</h2>
                            <p>Vitae adipiscing turpis. Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque, ac eleifend ante lobortis id. In viverra ipsum stie id viverra. </p>
                        </div>
                    </div>
                  <div class="col-md-6 col-sm-12">
                      <div class="wt-media our-story-pic">
                            <img src="images/gallery/pic5.jpg" alt="">
                        </div>
                    </div>
                </div>                                    
            </div>
        </div>
        
        
    </div>   
    <!-- OUR STORY SECTION END --> 

  </div>
  <!-- CONTENT END -->

    <!-- FOOTER -->
    <%- include('../common/footer', {
    
    }); %>

    <!-- BUTTON TOP -->
    <%- include('../common/scroltop-button', {
    
    }); %>
  </div>
  
</body>

