<!-- FOOTER START -->
<footer class="site-footer bg-gray footer-light footer-wide">

  <div class="footer-bottom overlay-wraper">
      <div class="overlay-main bg-black" style="opacity:0;"></div>
      <div class="container p-t30">
          <div class="row">
          
              <div class="col-md-4 wt-footer-bot-left">
                  <a href="/"><img src="/images/logo-dark.png" width="140" height="58" alt=""></a>
              </div>
              
              <div class="col-md-4 text-center copyright-block p-t15">
                  <span class="copyrights-text">© 2018 Your Company. Designed By thememajestic.</span>
              </div>  
                                   
              <div class="col-md-4 wt-footer-bot-right p-t15">
                  <ul class="copyrights-nav pull-right"> 
                      <li><a href="javascript:void(0);">Terms  & Condition</a></li>
                      <li><a href="javascript:void(0);">Privacy Policy</a></li>
                      <li><a href="contact-1.html">Contact Us</a></li>
                  </ul>
              </div>

          </div>
      </div>
  </div>
</footer>
<!-- FOOTER END -->

<!-- LOADING -->
<%- include('loading', {
    
}); %>

<!-- JAVASCRIPT  FILES ========================================= --> 
<script  src="/js/jquery-1.12.4.min.js"></script><!-- JQUERY.MIN JS -->
<script  src="/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->



<script  src="/js/magnific-popup.min.js"></script><!-- MAGNIFIC-POPUP JS -->

<script  src="/js/waypoints.min.js"></script><!-- WAYPOINTS JS -->
<script  src="/js/counterup.min.js"></script><!-- COUNTERUP JS -->
<script  src="/js/waypoints-sticky.min.js"></script><!-- COUNTERUP JS -->

<script  src="/js/isotope.pkgd.min.js"></script><!-- MASONRY  -->

<script  src="/js/owl.carousel.min.js"></script><!-- OWL  SLIDER  -->
<script src="/js/jquery.owl-filter.js"></script>

<script  src="/js/stellar.min.js"></script><!-- PARALLAX BG IMAGE   --> 
<script  src="/js/scrolla.min.js"></script><!-- ON SCROLL CONTENT ANIMTE   --> 

<script src="/js/particles.js"></script><!-- CANVAS EFFECT   --> 
<script src="/js/app.js"></script><!-- CANVAS EFFECT   -->

<script  src="/js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script  src="/js/shortcode.js"></script><!-- SHORTCODE FUCTIONS  -->
<!-- REVOLUTION JS FILES -->

<script  src="/plugins/revolution/revolution/js/jquery.themepunch.tools.min.js"></script>
<script  src="/plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->	
<script  src="/plugins/revolution/revolution/js/extensions/revolution-plugin.js"></script>

<!-- REVOLUTION SLIDER SCRIPT FILES -->
<script  src="/js/rev-script-1.js"></script>