<!-- HEADER START -->
<header class="site-header header-style-1  nav-wide">
            
  <div class="sticky-header main-bar-wraper">
      <div class="main-bar bg-white p-t10">
          <div class="container">
              <div class="logo-header">
                  <div class="logo-header-inner logo-header-one">
                      <a href="index.html">
                      <img src="/images/logo-dark.png" width="171" height="49" alt="" />
                  </a>
                  </div>
              </div>
              <!-- NAV Toggle Button -->
              <button data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <!-- ETRA Nav -->
              <div class="extra-nav">
                  <div class="extra-cell">
                      <a href="#search" class="site-search-btn"><i class="fa fa-search"></i></a>
                  </div>
               </div>
              <!-- SITE Search -->
              <div id="search"> 
                  <span class="close"></span>
                  <form role="search" id="searchform" action="/search" method="get" class="radius-xl">
                      <div class="input-group">
                          <input value="" name="q" type="search" placeholder="Type to search"/>
                          <span class="input-group-btn"><button type="button" class="search-btn"><i class="fa fa-search"></i></button></span>
                      </div>   
                  </form>
              </div>
              <!-- MAIN Vav -->
              <div class="header-nav navbar-collapse collapse">
                  <ul class=" nav navbar-nav">
                      <li class="active">
                          <a href="/">Home</a>                                          
                      </li>
                      <li>
                          <a href="/projects">Projects</a>                                        
                      </li>
                      <li>
                        <a href="/about-us">About us</a>                                        
                    </li>
                    <li>
                        <a href="/contact-us">Contact us</a>                                        
                    </li>                              
                  </ul>
              </div>
          </div>
      </div>
  </div>
  
</header>
<!-- HEADER END -->