<!-- SLIDER START -->
<div id="welcome_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="goodnews-header" data-source="gallery" style="background:#eeeeee;padding:0px;">
  <div id="welcome" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.3.1">
      <ul>	
          <!-- SLIDE 1 -->
          <li data-index="rs-902" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="/images/main-slider/slider1/slide1.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off"  data-title="" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
              <!-- MAIN IMAGE -->
              <img src="/images/main-slider/slider1/slide1.jpg"  alt=""  data-lazyload="/images/main-slider/slider1/slide1.jpg" data-bgposition="center center" 
              data-bgfit="cover" data-bgparallax="4" class="rev-slidebg" data-no-retina>
              <!-- LAYERS -->
      
              <!-- BACKGROUND VIDEO LAYER -->
              
          
          <div id="rrzb_902" class="rev_row_zone rev_row_zone_bottom" style="z-index: 7;">
                <!-- Content Block -->
                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption  " 
                      id="slide-902-layer-1" 
                      data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" 
                      data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']" 
                      data-width="none"
                      data-height="none"
                      data-whitespace="nowrap"
                      data-type="row" 
                      data-columnbreak="3" 
                      data-responsive_offset="on" 
                      data-responsive="off"
                      data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                      {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                      data-margintop="[0,0,0,0]"
                      data-marginright="[0,0,0,0]"
                      data-marginbottom="[50,60,40,50]"
                      data-marginleft="[0,0,0,0]"
                      data-textAlign="['inherit','inherit','inherit','inherit']"
                      data-paddingtop="[0,0,0,0]"
                      data-paddingright="[150,130,80,50]"
                      data-paddingbottom="[0,0,0,0]"
                      data-paddingleft="[150,130,80,50]"
                      style="z-index: 7; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
                      
                          <!-- LAYER NR. 2 -->
                          <div class="tp-caption  " 
                              id="slide-902-layer-2" 
                              data-x="['left','left','left','left']" data-hoffset="['0','0','100','100']" 
                              data-y="['top','top','top','top']" data-voffset="['0','0','100','100']" 
                              data-width="none"
                              data-height="none"
                              data-whitespace="nowrap"
                              data-type="column" 
                              data-responsive_offset="on" 
                              data-responsive="off"
                              data-frames='[{"delay":"+0","speed":750,"sfxcolor":"#fff","sfx_effect":"blockfrombottom","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},
                              {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power4.easeInOut"}]'
                              data-columnwidth="100%"
                              data-verticalalign="top"
                              data-margintop="[0,0,0,0]"
                              data-marginright="[0,0,0,0]"
                              data-marginbottom="[0,0,0,0]"
                              data-marginleft="[0,0,0,0]"
                              data-textAlign="['center','center','center','center']"
                              data-paddingtop="[50,50,50,50]"
                              data-paddingright="[0,0,30,30]"
                              data-paddingbottom="[50,50,50,50]"
                              data-paddingleft="[0,0,30,30]"
                              style="z-index: 8; width: 100%;background-color:#f6f7f8">
                              <!-- LAYER NR. 3 -->
                              <div class="tp-caption   tp-resizeme" 
                                  id="slide-902-layer-3" 
                                  data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
                                  data-y="['top','bottom','bottom','bottom']" data-voffset="['0','260','250','190']" 
                                  data-width="none"
                                  data-height="none"
                                  data-whitespace="['normal','nowrap','nowrap','nowrap']"
                                  data-type="text" 
                                  data-basealign="slide" 
                                  data-responsive_offset="off" 
                                  data-frames='[{"delay":"+490","speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},
                                  {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                  data-margintop="[0,0,0,0]"
                                  data-marginright="[0,0,0,0]"
                                  data-marginbottom="[0,0,0,0]"
                                  data-marginleft="[0,0,0,0]"
                                  data-textAlign="['center','inherit','inherit','inherit']"
                                  data-paddingtop="[5,5,5,5]"
                                  data-paddingright="[5,5,5,5]"
                                  data-paddingbottom="[5,5,5,5]"
                                  data-paddingleft="[5,5,5,5]"
                                  style="z-index: 10; white-space: normal; font-size: 18px; line-height: 15px; font-weight: 700; color: #000; letter-spacing: 3px; display: inline-block;">
                                  GENERAL 
                               </div>
              
                              <!-- LAYER NR. 4 -->
                              <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
                                  id="slide-902-layer-4" 
                                  data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
                                  data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" 
                                  data-width="full"
                                  data-height="15"
                                  data-whitespace="normal"
                                  data-type="shape" 
                                  data-responsive_offset="on" 
                                  data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                  {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                  data-margintop="[0,0,0,0]"
                                  data-marginright="[0,0,0,0]"
                                  data-marginbottom="[0,0,0,0]"
                                  data-marginleft="[0,0,0,0]"
                                  data-textAlign="['inherit','inherit','inherit','inherit']"
                                  data-paddingtop="[0,0,0,0]"
                                  data-paddingright="[0,0,0,0]"
                                  data-paddingbottom="[0,0,0,0]"
                                  data-paddingleft="[0,0,0,0]"
                                  style="z-index: 13; display: block;background-color:rgba(0, 0, 0, 0);"> 
                             </div>
              
                              <!-- LAYER NR. 5 -->
                              <div class="tp-caption   tp-resizeme  tp-linkmod" 
                                  id="slide-902-layer-5" 
                                  data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
                                  data-y="['top','bottom','bottom','bottom']" data-voffset="['0','170','140','120']" 
                                  data-fontsize="['45','45','45','35']"
                                  data-lineheight="['45','45','45','35']"
                                  data-width="['660','460','100%','100%']"
                                  data-height="none"
                                  data-whitespace="normal"
                       
                                  data-type="text" 
                                  data-actions=''
                                  data-basealign="slide" 
                                  data-responsive_offset="off" 
                      
                                  data-frames='[{"delay":"+590","speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},
                                  {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},
                                  {"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(45,48,50);"}]'
                                  data-margintop="[0,0,0,0]"
                                  data-marginright="[0,0,0,0]"
                                  data-marginbottom="[0,0,0,0]"
                                  data-marginleft="[0,0,0,0]"
                                  data-textAlign="['center','center','center','center']"
                                  data-paddingtop="[0,0,0,0]"
                                  data-paddingright="[5,5,5,5]"
                                  data-paddingbottom="[10,10,10,10]"
                                  data-paddingleft="[5,5,5,5]"
                      
                                  style="z-index: 11; min-width: 660px; max-width: 660px; 
                                  white-space: normal; font-size: 32px; line-height: 32px; 
                                  font-weight: 300; color: #000; letter-spacing: 2px; 
                                  display: inline-block;cursor:pointer;
                                  text-decoration: none; text-transform:capitalize">Virtually Build Your House</div>
              
                              <!-- LAYER NR. 6 -->
                              <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
                                  id="slide-902-layer-6" 
                      
                                  data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
                                  data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" 
                                  data-width="full"
                                  data-height="15"
                                  data-whitespace="normal"
                       
                                  data-type="shape" 
                                  data-responsive_offset="on" 
                      
                                  data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                  {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                  data-margintop="[0,0,0,0]"
                                  data-marginright="[0,0,0,0]"
                                  data-marginbottom="[0,0,0,0]"
                                  data-marginleft="[0,0,0,0]"
                                  data-textAlign="['inherit','inherit','inherit','inherit']"
                                  data-paddingtop="[0,0,0,0]"
                                  data-paddingright="[0,0,0,0]"
                                  data-paddingbottom="[0,0,0,0]"
                                  data-paddingleft="[0,0,0,0]"
                      
                                  style="z-index: 9; display: block;background-color:rgba(0, 0, 0, 0);"> </div>
              
                              <!-- LAYER NR. 7 -->
                              <div class="tp-caption   tp-resizeme" 
                                   id="slide-902-layer-7" 
                                   data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
                                   data-y="['top','bottom','bottom','bottom']" data-voffset="['0','100','80','70']" 
                                   data-width="['none','460','100%','100%']"
                                  data-height="none"
                                  data-whitespace="normal"
                       
                                  data-type="text" 
                                  data-basealign="slide" 
                                  data-responsive_offset="off" 
                      
                                  data-frames='[{"delay":"+690","speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},
                                  {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                  data-margintop="[0,0,0,0]"
                                  data-marginright="[0,0,0,0]"
                                  data-marginbottom="[0,0,0,0]"
                                  data-marginleft="[0,0,0,0]"
                                  data-textAlign="['center','center','center','center']"
                                  data-paddingtop="[5,5,5,5]"
                                  data-paddingright="[5,5,5,5]"
                                  data-paddingbottom="[5,5,5,5]"
                                  data-paddingleft="[5,5,5,5]"
                      
                                  style="z-index: 12; white-space: normal; font-size: 16px; line-height: 22px;
                                  font-weight: 400; color: #000; letter-spacing: 0px; display: inline-block;">
                                  Excepteur sint occaecat cupidatat non proident laborum. 
                            </div>
                         </div>
                              
                  </div>
                  
              </div>
              <!-- LAYER NR. 8 -->
              <!-- Border Part -->
              <div class="tp-caption tp-shape tp-shapewrapper " 
                  id="slide-902-layer-8" 
                  data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                  data-width="full"
                  data-height="full"
                  data-whitespace="nowrap"
                  data-visibility="['on','on','off','off']"
       
                  data-type="shape" 
                  data-basealign="slide" 
                  data-responsive_offset="off" 
                  data-responsive="off"
                  data-frames='[{"delay":50,"speed":100,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power3.easeIn"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
      
                  style="z-index: 5;background-color:rgba(0, 0, 0, 0);border-color:rgb(255,255,255);border-style:solid;border-width:0px 80px 80px 80px;"> </div>

          </li>
          
<!-- SLIDE 2 -->
          <li data-index="rs-903" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="/images/main-slider/slider1/slide2.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off"  data-title="" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
              <!-- MAIN IMAGE -->
              <img src="/images/main-slider/slider1/slide2.jpg"  alt=""  data-lazyload="/images/main-slider/slider1/slide2.jpg" data-bgposition="center center" 
              data-bgfit="cover" data-bgparallax="4" class="rev-slidebg" data-no-retina>
              <!-- LAYERS -->
      
              <!-- BACKGROUND VIDEO LAYER -->
              
          
          <div id="rrzb_903" class="rev_row_zone rev_row_zone_bottom" style="z-index: 7;">
                <!-- Content Block -->
                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption  " 
                      id="slide-903-layer-1" 
                      data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" 
                      data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']" 
                      data-width="none"
                      data-height="none"
                      data-whitespace="nowrap"
                      data-type="row" 
                      data-columnbreak="3" 
                      data-responsive_offset="on" 
                      data-responsive="off"
                      data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                      {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                      data-margintop="[0,0,0,0]"
                      data-marginright="[0,0,0,0]"
                      data-marginbottom="[50,60,40,50]"
                      data-marginleft="[0,0,0,0]"
                      data-textAlign="['inherit','inherit','inherit','inherit']"
                      data-paddingtop="[0,0,0,0]"
                      data-paddingright="[150,130,80,50]"
                      data-paddingbottom="[0,0,0,0]"
                      data-paddingleft="[150,130,80,50]"
                      style="z-index: 7; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
                      
                          <!-- LAYER NR. 2 -->
                          <div class="tp-caption  " 
                              id="slide-903-layer-2" 
                              data-x="['left','left','left','left']" data-hoffset="['0','0','100','100']" 
                              data-y="['top','top','top','top']" data-voffset="['0','0','100','100']" 
                              data-width="none"
                              data-height="none"
                              data-whitespace="nowrap"
                              data-type="column" 
                              data-responsive_offset="on" 
                              data-responsive="off"
                              data-frames='[{"delay":"+0","speed":750,"sfxcolor":"#fff","sfx_effect":"blockfrombottom","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},
                              {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power4.easeInOut"}]'
                              data-columnwidth="100%"
                              data-verticalalign="top"
                              data-margintop="[0,0,0,0]"
                              data-marginright="[0,0,0,0]"
                              data-marginbottom="[0,0,0,0]"
                              data-marginleft="[0,0,0,0]"
                              data-textAlign="['center','center','center','center']"
                              data-paddingtop="[50,50,50,50]"
                              data-paddingright="[0,0,30,30]"
                              data-paddingbottom="[50,50,50,50]"
                              data-paddingleft="[0,0,30,30]"
                              style="z-index: 8; width: 100%;background-color:#f6f7f8">
                              <!-- LAYER NR. 3 -->
                              <div class="tp-caption   tp-resizeme" 
                                  id="slide-903-layer-3" 
                                  data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
                                  data-y="['top','bottom','bottom','bottom']" data-voffset="['0','260','250','190']" 
                                  data-width="none"
                                  data-height="none"
                                  data-whitespace="['normal','nowrap','nowrap','nowrap']"
                                  data-type="text" 
                                  data-basealign="slide" 
                                  data-responsive_offset="off" 
                                  data-frames='[{"delay":"+490","speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},
                                  {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                  data-margintop="[0,0,0,0]"
                                  data-marginright="[0,0,0,0]"
                                  data-marginbottom="[0,0,0,0]"
                                  data-marginleft="[0,0,0,0]"
                                  data-textAlign="['center','inherit','inherit','inherit']"
                                  data-paddingtop="[5,5,5,5]"
                                  data-paddingright="[5,5,5,5]"
                                  data-paddingbottom="[5,5,5,5]"
                                  data-paddingleft="[5,5,5,5]"
                                  style="z-index: 10; white-space: normal; font-size: 18px; line-height: 18px; font-weight: 700; color: #000; letter-spacing: 3px; display: inline-block;">
                                  GENERAL 
                               </div>
              
                              <!-- LAYER NR. 4 -->
                              <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
                                  id="slide-903-layer-4" 
                                  data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
                                  data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" 
                                  data-width="full"
                                  data-height="15"
                                  data-whitespace="normal"
                                  data-type="shape" 
                                  data-responsive_offset="on" 
                                  data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                  {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                  data-margintop="[0,0,0,0]"
                                  data-marginright="[0,0,0,0]"
                                  data-marginbottom="[0,0,0,0]"
                                  data-marginleft="[0,0,0,0]"
                                  data-textAlign="['inherit','inherit','inherit','inherit']"
                                  data-paddingtop="[0,0,0,0]"
                                  data-paddingright="[0,0,0,0]"
                                  data-paddingbottom="[0,0,0,0]"
                                  data-paddingleft="[0,0,0,0]"
                                  style="z-index: 13; display: block;background-color:rgba(0, 0, 0, 0);"> 
                             </div>
              
                              <!-- LAYER NR. 5 -->
                              <div class="tp-caption   tp-resizeme  tp-linkmod" 
                                  id="slide-903-layer-5" 
                                  data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
                                  data-y="['top','bottom','bottom','bottom']" data-voffset="['0','170','140','120']" 
                                  data-fontsize="['45','45','45','35']"
                                  data-lineheight="['45','45','45','35']"
                                  data-width="['660','460','100%','100%']"
                                  data-height="none"
                                  data-whitespace="normal"
                       
                                  data-type="text" 
                                  data-actions=''
                                  data-basealign="slide" 
                                  data-responsive_offset="off" 
                      
                                  data-frames='[{"delay":"+590","speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},
                                  {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},
                                  {"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(45,48,50);"}]'
                                  data-margintop="[0,0,0,0]"
                                  data-marginright="[0,0,0,0]"
                                  data-marginbottom="[0,0,0,0]"
                                  data-marginleft="[0,0,0,0]"
                                  data-textAlign="['center','center','center','center']"
                                  data-paddingtop="[0,0,0,0]"
                                  data-paddingright="[5,5,5,5]"
                                  data-paddingbottom="[10,10,10,10]"
                                  data-paddingleft="[5,5,5,5]"
                      
                                  style="z-index: 11; min-width: 660px; max-width: 660px; 
                                  white-space: normal; font-size: 32px; line-height: 32px; 
                                  font-weight: 300; color: #000; letter-spacing: 2px; 
                                  display: inline-block;cursor:pointer;
                                  text-decoration: none; text-transform:capitalize">Natural plus modern.</div>
              
                              <!-- LAYER NR. 6 -->
                              <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
                                  id="slide-903-layer-6" 
                      
                                  data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
                                  data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" 
                                  data-width="full"
                                  data-height="15"
                                  data-whitespace="normal"
                       
                                  data-type="shape" 
                                  data-responsive_offset="on" 
                      
                                  data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                  {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                  data-margintop="[0,0,0,0]"
                                  data-marginright="[0,0,0,0]"
                                  data-marginbottom="[0,0,0,0]"
                                  data-marginleft="[0,0,0,0]"
                                  data-textAlign="['inherit','inherit','inherit','inherit']"
                                  data-paddingtop="[0,0,0,0]"
                                  data-paddingright="[0,0,0,0]"
                                  data-paddingbottom="[0,0,0,0]"
                                  data-paddingleft="[0,0,0,0]"
                      
                                  style="z-index: 9; display: block;background-color:rgba(0, 0, 0, 0);"> </div>
              
                              <!-- LAYER NR. 7 -->
                              <div class="tp-caption   tp-resizeme" 
                                   id="slide-903-layer-7" 
                                   data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
                                   data-y="['top','bottom','bottom','bottom']" data-voffset="['0','100','80','70']" 
                                   data-width="['none','460','100%','100%']"
                                  data-height="none"
                                  data-whitespace="normal"
                       
                                  data-type="text" 
                                  data-basealign="slide" 
                                  data-responsive_offset="off" 
                      
                                  data-frames='[{"delay":"+690","speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},
                                  {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                  data-margintop="[0,0,0,0]"
                                  data-marginright="[0,0,0,0]"
                                  data-marginbottom="[0,0,0,0]"
                                  data-marginleft="[0,0,0,0]"
                                  data-textAlign="['center','center','center','center']"
                                  data-paddingtop="[5,5,5,5]"

                                  data-paddingright="[5,5,5,5]"
                                  data-paddingbottom="[5,5,5,5]"
                                  data-paddingleft="[5,5,5,5]"
                      
                                  style="z-index: 12; white-space: normal; font-size: 16px; line-height: 22px;
                                  font-weight: 400; color: #000; letter-spacing: 0px; display: inline-block;">
                                   sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            </div>
                         </div>
                              
                  </div>
                  
              </div>
              <!-- LAYER NR. 8 -->
              <!-- Border Part -->
              <div class="tp-caption tp-shape tp-shapewrapper " 
                  id="slide-903-layer-8" 
                  data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                  data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                  data-width="full"
                  data-height="full"
                  data-whitespace="nowrap"
                  data-visibility="['on','on','off','off']"
       
                  data-type="shape" 
                  data-basealign="slide" 
                  data-responsive_offset="off" 
                  data-responsive="off"
                  data-frames='[{"delay":50,"speed":100,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power3.easeIn"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
      
                  style="z-index: 5;background-color:rgba(0, 0, 0, 0);border-color:rgb(255,255,255);border-style:solid;border-width:0px 80px 80px 80px;"> </div>

          </li>
          
          <!-- SLIDE 3 -->
          <li data-index="rs-904" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="/images/main-slider/slider1/slide3.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off"  data-title="" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
              <!-- MAIN IMAGE -->
              <img src="/images/main-slider/slider1/slide3.jpg"  alt=""  data-lazyload="/images/main-slider/slider1/slide3.jpg" data-bgposition="center center" 
              data-bgfit="cover" data-bgparallax="4" class="rev-slidebg" data-no-retina>
              <!-- LAYERS -->
      
              <!-- BACKGROUND VIDEO LAYER -->
              
          
          <div id="rrzb_904" class="rev_row_zone rev_row_zone_bottom" style="z-index: 7;">
                <!-- Content Block -->
                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption  " 
                      id="slide-904-layer-1" 
                      data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" 
                      data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']" 
                      data-width="none"
                      data-height="none"
                      data-whitespace="nowrap"
                      data-type="row" 
                      data-columnbreak="3" 
                      data-responsive_offset="on" 
                      data-responsive="off"
                      data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                      {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                      data-margintop="[0,0,0,0]"
                      data-marginright="[0,0,0,0]"
                      data-marginbottom="[50,60,40,50]"
                      data-marginleft="[0,0,0,0]"
                      data-textAlign="['inherit','inherit','inherit','inherit']"
                      data-paddingtop="[0,0,0,0]"
                      data-paddingright="[150,130,80,50]"
                      data-paddingbottom="[0,0,0,0]"
                      data-paddingleft="[150,130,80,50]"
                      style="z-index: 7; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
                      
                          <!-- LAYER NR. 2 -->
                          <div class="tp-caption  " 
                              id="slide-904-layer-2" 
                              data-x="['left','left','left','left']" data-hoffset="['0','0','100','100']" 
                              data-y="['top','top','top','top']" data-voffset="['0','0','100','100']" 
                              data-width="none"
                              data-height="none"
                              data-whitespace="nowrap"
                              data-type="column" 
                              data-responsive_offset="on" 
                              data-responsive="off"
                              data-frames='[{"delay":"+0","speed":750,"sfxcolor":"#fff","sfx_effect":"blockfrombottom","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},
                              {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power4.easeInOut"}]'
                              data-columnwidth="100%"
                              data-verticalalign="top"
                              data-margintop="[0,0,0,0]"
                              data-marginright="[0,0,0,0]"
                              data-marginbottom="[0,0,0,0]"
                              data-marginleft="[0,0,0,0]"
                              data-textAlign="['center','center','center','center']"
                              data-paddingtop="[50,50,50,50]"
                              data-paddingright="[0,0,30,30]"
                              data-paddingbottom="[50,50,50,50]"
                              data-paddingleft="[0,0,30,30]"
                              style="z-index: 8; width: 100%;background-color:#f6f7f8">
                              <!-- LAYER NR. 3 -->
                              <div class="tp-caption   tp-resizeme" 
                                  id="slide-904-layer-3" 
                                  data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
                                  data-y="['top','bottom','bottom','bottom']" data-voffset="['0','260','250','190']" 
                                  data-width="none"
                                  data-height="none"
                                  data-whitespace="['normal','nowrap','nowrap','nowrap']"
                                  data-type="text" 
                                  data-basealign="slide" 
                                  data-responsive_offset="off" 
                                  data-frames='[{"delay":"+490","speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},
                                  {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                  data-margintop="[0,0,0,0]"
                                  data-marginright="[0,0,0,0]"
                                  data-marginbottom="[0,0,0,0]"
                                  data-marginleft="[0,0,0,0]"
                                  data-textAlign="['center','inherit','inherit','inherit']"
                                  data-paddingtop="[5,5,5,5]"
                                  data-paddingright="[5,5,5,5]"
                                  data-paddingbottom="[5,5,5,5]"
                                  data-paddingleft="[5,5,5,5]"
                                  style="z-index: 10; white-space: normal; font-size: 18px; line-height: 18px; font-weight: 700; color: #000; letter-spacing: 3px; display: inline-block;">
                                  GENERAL 
                               </div>
              
                              <!-- LAYER NR. 4 -->
                              <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
                                  id="slide-904-layer-4" 
                                  data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
                                  data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" 
                                  data-width="full"
                                  data-height="15"
                                  data-whitespace="normal"
                                  data-type="shape" 
                                  data-responsive_offset="on" 
                                  data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                  {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                  data-margintop="[0,0,0,0]"
                                  data-marginright="[0,0,0,0]"
                                  data-marginbottom="[0,0,0,0]"
                                  data-marginleft="[0,0,0,0]"
                                  data-textAlign="['inherit','inherit','inherit','inherit']"
                                  data-paddingtop="[0,0,0,0]"
                                  data-paddingright="[0,0,0,0]"
                                  data-paddingbottom="[0,0,0,0]"
                                  data-paddingleft="[0,0,0,0]"
                                  style="z-index: 13; display: block;background-color:rgba(0, 0, 0, 0);"> 
                             </div>
              
                              <!-- LAYER NR. 5 -->
                              <div class="tp-caption   tp-resizeme  tp-linkmod" 
                                  id="slide-904-layer-5" 
                                  data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
                                  data-y="['top','bottom','bottom','bottom']" data-voffset="['0','170','140','120']" 
                                  data-fontsize="['45','45','45','35']"
                                  data-lineheight="['45','45','45','35']"
                                  data-width="['660','460','100%','100%']"
                                  data-height="none"
                                  data-whitespace="normal"
                       
                                  data-type="text" 
                                  data-actions=''
                                  data-basealign="slide" 
                                  data-responsive_offset="off" 
                      
                                  data-frames='[{"delay":"+590","speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},
                                  {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},
                                  {"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(45,48,50);"}]'
                                  data-margintop="[0,0,0,0]"
                                  data-marginright="[0,0,0,0]"
                                  data-marginbottom="[0,0,0,0]"
                                  data-marginleft="[0,0,0,0]"
                                  data-textAlign="['center','center','center','center']"
                                  data-paddingtop="[0,0,0,0]"
                                  data-paddingright="[5,5,5,5]"
                                  data-paddingbottom="[10,10,10,10]"
                                  data-paddingleft="[5,5,5,5]"
                      
                                  style="z-index: 11; min-width: 660px; max-width: 660px; 
                                  white-space: normal; font-size: 32px; line-height: 32px; 
                                  font-weight: 300; color: #000; letter-spacing: 2px; 
                                  display: inline-block;cursor:pointer;
                                  text-decoration: none; text-transform:capitalize">Creative & Professional</div>
              
                              <!-- LAYER NR. 6 -->
                              <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
                                  id="slide-904-layer-6" 
                      
                                  data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" 
                                  data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" 
                                  data-width="full"
                                  data-height="15"
                                  data-whitespace="normal"
                       
                                  data-type="shape" 
                                  data-responsive_offset="on" 
                      
                                  data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                  {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                  data-margintop="[0,0,0,0]"
                                  data-marginright="[0,0,0,0]"
                                  data-marginbottom="[0,0,0,0]"
                                  data-marginleft="[0,0,0,0]"
                                  data-textAlign="['inherit','inherit','inherit','inherit']"
                                  data-paddingtop="[0,0,0,0]"
                                  data-paddingright="[0,0,0,0]"
                                  data-paddingbottom="[0,0,0,0]"
                                  data-paddingleft="[0,0,0,0]"
                      
                                  style="z-index: 9; display: block;background-color:rgba(0, 0, 0, 0);"> </div>
              
                              <!-- LAYER NR. 7 -->
                              <div class="tp-caption   tp-resizeme" 
                                   id="slide-904-layer-7" 
                                   data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']" 
                                   data-y="['top','bottom','bottom','bottom']" data-voffset="['0','100','80','70']" 
                                   data-width="['none','460','100%','100%']"
                                  data-height="none"
                                  data-whitespace="normal"
                       
                                  data-type="text" 
                                  data-basealign="slide" 
                                  data-responsive_offset="off" 
                      
                                  data-frames='[{"delay":"+690","speed":750,"sfxcolor":"#fff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},
                                  {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                  data-margintop="[0,0,0,0]"
                                  data-marginright="[0,0,0,0]"
                                  data-marginbottom="[0,0,0,0]"
                                  data-marginleft="[0,0,0,0]"
                                  data-textAlign="['center','center','center','center']"
                                  data-paddingtop="[5,5,5,5]"
                                  data-paddingright="[5,5,5,5]"
                                  data-paddingbottom="[5,5,5,5]"
                                  data-paddingleft="[5,5,5,5]"
                      
                                  style="z-index: 12; white-space: normal; font-size: 16px; line-height: 22px;
                                  font-weight: 400; color: #000; letter-spacing: 0px; display: inline-block;">
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            </div>
                         </div>
                              
                  </div>
                  
              </div>
              <!-- LAYER NR. 8 -->
              <!-- Border Part -->
              <div class="tp-caption tp-shape tp-shapewrapper " 
                   id="slide-904-layer-8" 
                   data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                   data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                              data-width="full"
                  data-height="full"
                  data-whitespace="nowrap"
                  data-visibility="['on','on','off','off']"
       
                  data-type="shape" 
                  data-basealign="slide" 
                  data-responsive_offset="off" 
                  data-responsive="off"
                  data-frames='[{"delay":50,"speed":100,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power3.easeIn"}]'
                  data-textAlign="['inherit','inherit','inherit','inherit']"
                  data-paddingtop="[0,0,0,0]"
                  data-paddingright="[0,0,0,0]"
                  data-paddingbottom="[0,0,0,0]"
                  data-paddingleft="[0,0,0,0]"
      
                  style="z-index: 5;background-color:rgba(0, 0, 0, 0);border-color:rgb(255,255,255);border-style:solid;border-width:0px 80px 80px 80px;"> </div>

          </li>
          
      </ul>
      <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	
  </div>
</div>
<!-- SLIDER END -->